@page "/gallery"

@* <div>
    @Title
</div> *@
<MudCarousel 
    Class="mud-width-full" 
    Style="height:200px;" 
    ShowArrows="@arrows" 
    ShowBullets="@bullets" 
    EnableSwipeGesture="@enableSwipeGesture" 
    AutoCycle="@autocycle" 
    TData="object">

    @foreach (var path_to_image in List_of_Paths)
    {        
        <MudCarouselItem 
            Transition="transition" 
            Color="@Color.Primary">

            <Image ImageLoc="@path_to_image.ToString()" AltText="" Classes="" />

        </MudCarouselItem>
    }
</MudCarousel>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = false;
    private Transition transition = @Transition.Fade;

    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required string[] List_of_Paths { get; set; }
}


